In [1]:
%load_ext autoreload
%autoreload 2

In [2]:
import numpy as np
import pandas as pd

from metric import *
import os 

os.environ["CUDA_DEVICE_ORDER"]="PCI_BUS_ID"  # Arrange GPU devices starting from 0
os.environ["CUDA_VISIBLE_DEVICES"]="7"  # Set the GPUs 2 and 3 to use
SEED = 10
M = 5

### Data Generation and fitting

In [4]:
for N in [1000, 10000, 2000, 20000]:
    X_obs, X_mis, mask, y = make_data(n=N, seed=SEED)
    np.save(f'exp{N}', {'X':X_obs, 'y':y})
    print(y.mean())

0.566
0.5515
0.5525
0.56105

In [3]:
# N = 2000
# mcar = np.load(f'/home/redgreen/ssl/metric/MCAR_exp{N}.npy', allow_pickle=True).item()
# mar = np.load(f'/home/redgreen/ssl/metric/MAR_exp{N}.npy', allow_pickle=True).item()
# mnar = np.load(f'/home/redgreen/ssl/metric/MNAR_exp{N}.npy', allow_pickle=True).item()
# print(mnar['test']['mask'][0] == mnar['test']['mask'][0])

N = 'adult'
mcar = np.load(f'/home/redgreen/ssl/metric/MCAR_{N}.npy', allow_pickle=True).item()
mar = np.load(f'/home/redgreen/ssl/metric/MAR_{N}.npy', allow_pickle=True).item()
mnar = np.load(f'/home/redgreen/ssl/metric/MNAR_{N}.npy', allow_pickle=True).item()

In [4]:
adult = np.load('/home/redgreen/ssl/metric/adult.npy', allow_pickle=True).item()
GAIN = np.load('/home/redgreen/ssl/metric/GAIN_adult.npy', allow_pickle=True).item()
col_names = adult['col_names']

In [23]:
print(col_names)

Index(['age', 'workclass', 'fnlwgt', 'education', 'education-num',
       'marital-status', 'occupation', 'relationship', 'race', 'sex',
       'capital-gain', 'capital-loss', 'hours-per-week', 'native-country'],
      dtype='object')

In [5]:
print(sum(mnar['test']['mask'] != mcar['test']['mask']))
print(sum(mar['test']['mask'] != mcar['test']['mask']))
print(sum(mnar['test']['mask'] != mar['test']['mask']))

#결측치 비율
pd.DataFrame([1-mcar['test']['mask'].mean(axis=0), 
              1-mar['test']['mask'].mean(axis=0), 
              1-mnar['test']['mask'].mean(axis=0),],
             index=['MCAR', 'MAR', 'MNAR'],
            #  columns=['x1', 'x2', 'x3']
            columns=col_names
             ).round(3)

[4653 4650 4667 4727 4675 4688 4667 4704 4637 4730 4755 4699 4618 4684]
[4653 2948 4667 4727 4675 2832 4667 4704 4637 4730 4755 2965 2914 4684]
[   0 2914    0    0    0 2896    0    0    0    0    0 2912 2888    0]

,age,workclass,fnlwgt,education,education-num,marital-status,occupation,relationship,race,sex,capital-gain,capital-loss,hours-per-week,native-country
MCAR,0.199,0.201,0.195,0.203,0.202,0.193,0.194,0.203,0.201,0.204,0.202,0.202,0.199,0.202
MAR,0.198,0.000,0.198,0.206,0.195,0.000,0.200,0.198,0.195,0.200,0.204,0.000,0.000,0.203
MNAR,0.198,0.199,0.198,0.206,0.195,0.198,0.200,0.198,0.195,0.200,0.204,0.199,0.197,0.203

In [ ]:
'''
[process]
1. upload.py의 upload_data/loader 함수에 데이터를 추가한다.
2. defaults.yaml, dataloader.yaml 파일을 만든다 (mech별)
3. 모델을 학습한다 (mech별) -> outputs폴더의 결과 폴더 이름을 바꾼다
4. for_prediction.ipynb에서  (mech별) 사용된 데이터셋과 예측값을 저장한다.
5. metric.ipynb에서 4의 데이터셋을 불러와 MICE를 학슶시키고 두 모델의 예측값을 비교한다.
'''

In [6]:
# adult
cat_ids = [1, 3, 5, 6, 7, 8, 9, 13]
num_ids = [0, 2, 4, 10, 11, 12]

# # credit
# cat_cols = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
# num_cols = [0, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22]

In [141]:
# from sklearn.impute import KNNImputer
# model = KNNImputer(n_neighbors=10)

# model.fit(X)

# np.mean(np.maximum(model.transform(X)[:, cat_ids].round()[mask[:, cat_ids]], 0) == X[:, cat_ids][mask[:, cat_ids]])

0.891058523272856

In [9]:
# from sklearn.model_selection import train_test_split
# ind = np.arange(N)
# ind_train, ind_test = train_test_split(ind, test_size=0.3)
mode = 'test'
for data, miss_algo in zip([mcar, mar, mnar], ['MCAR', 'MAR', "MNAR"]):
    print(f'>>>>> {miss_algo} >>>>>>')
    X = data[mode]['X']
    y = data[mode]['y']
    mask = (1-data[mode]['mask']).astype(bool)
    # X = data['test']['X']
    # y = data['test']['y']
    # mask = (1-data['test']['mask']).astype(bool)
    X_mis = X.copy()
    X_mis[mask] = np.nan

    # MICE
    imputer = Imputer(seed=SEED, M=M, num_ids=num_ids, cat_ids=cat_ids)
    imputer.fit(X_mis)
    X_mice = imputer.transform(X_mis)

    # GAIN
    X_GAIN = GAIN[miss_algo]
    ######

    # EGG-GAE
    X_egg = data[mode]['rec_x']
    
    
    # Distributions of Imputed values
    df_dist, Xs_masked_inv = make_dist_df(Xs = [X, X_mice, X_egg, X_GAIN], 
                                      names=['origin', 'MICE', 'EGG-GAE', 'GAIN'], 
                                      mask=mask, index=col_names)
    
    display(df_dist)
    
    # Scores of imputed values
    # score by each X
    all_score = {'num':{}, 'cat':{}}
    for name in ['MICE', 'EGG-GAE', 'GAIN']:
        print(f'\t[{miss_algo}/{name}]')
        for ids, feat_mode in zip([num_ids, cat_ids], 
                        ['num', 'cat']):
            print(f'\t>>>[{miss_algo}/{name}/{feat_mode}]')
            df_score = evaluate_X_each(Xs_masked_inv['origin'][:, ids],
                                    Xs_masked_inv[name][:, ids],
                                    y,
                                    mask[:, ids], feat_mode, index=col_names[ids])
            display(df_score)
            all_score[feat_mode][name] = df_score.mean()
    for feat_mode in ['num', 'cat']:
        print(f'\t>>>[{miss_algo}//{feat_mode}]')
        all_score_df = pd.DataFrame(all_score[feat_mode])
        display(all_score_df)
    # # score all X
    # for ids, feat_mode in zip([num_ids, cat_ids], 
    #                     ['num', 'cat']):
    #     print(f'\t>>>[{miss_algo}//{feat_mode}]')
    #     df_score = evaluate_X(Xs_masked_inv['origin'][:, ids],
    #                         [
    #                             Xs_masked_inv['MICE'][:, ids], 
    #                             Xs_masked_inv['EGG-GAE'][:, ids],
    #                             Xs_masked_inv['GAIN'][:, ids]
    #                         ],
    #                         y,
    #                         mask[:, ids], feat_mode, names=['MICE', 'EGG-GAE', 'GAIN'])
    #     display(df_score)

>>>>> MCAR >>>>>>
0 0
>> 1 0
0 1
>> 1 2
1 1
>> 3 2
1 2
>> 3 4
2 2
>> 5 4
2 3
>> 5 10
3 3
>> 6 10
4 3
>> 7 10
5 3
>> 8 10
6 3
>> 9 10
7 3
>> 13 10
7 4
>> 13 11
7 5
>> 13 12
7 6
>> 13 -1

,origin(mean),origin(std),MICE(mean),MICE(std),EGG-GAE(mean),EGG-GAE(std),GAIN(mean),GAIN(std)
age,0.046387,1.133619,-0.009896,0.591392,0.109777,0.697344,-0.045119,0.090875
workclass,4.091927,1.554755,4.013501,0.553594,3.962008,0.984237,4.085482,0.335819
fnlwgt,-0.002294,1.050217,0.027701,0.514807,0.053912,0.172355,-0.069582,0.318967
education,10.327952,3.848075,10.501009,1.658587,10.590985,3.573778,10.212580,0.423673
education-num,0.010114,1.103539,0.022449,0.609333,0.028642,0.982171,-0.005416,0.097208
marital-status,2.600636,1.507434,2.527119,0.646562,2.521893,1.352003,2.083333,0.276385
occupation,6.784632,4.269285,6.963976,1.559708,4.828692,3.770208,6.470215,0.541129
relationship,1.405977,1.592690,1.352653,0.907943,1.081934,1.409455,0.978173,0.227095
race,3.677310,0.833944,3.723913,0.264470,3.979620,0.246422,3.989470,0.102074
sex,0.682093,0.465663,0.684574,0.257920,0.691818,0.461740,0.743461,0.436723
capital-gain,0.063920,1.401325,0.031838,0.519369,-0.007437,0.187587,-0.095606,0.231523
capital-loss,0.087266,1.194001,0.061374,0.542613,0.056344,0.126894,0.078782,0.348752
hours-per-week,0.014130,1.119743,0.013523,0.593234,0.033973,0.420274,0.217337,0.180556
native-country,37.094563,6.969406,37.416143,2.156237,38.966228,0.652487,34.463109,2.745021

	[MCAR/MICE]
	>>>[MCAR/MICE/num]

                     mae       mse        r2   mean_sim   std_sim      corr
age             0.941304  1.387610 -0.079774   1.213338  0.478315  0.186747
fnlwgt          0.900814  1.365601 -0.238128  13.075678  0.509809  0.003034
education-num   0.892154  1.252707 -0.028665  -1.219604  0.447837  0.250238
capital-gain    0.587317  2.182016 -0.111169   0.501901  0.629373  0.036046
capital-loss    0.721599  1.708195 -0.198196   0.296700  0.545551  0.009681
hours-per-week  0.842182  1.350063 -0.076756   0.042965  0.470205  0.192459

	>>>[MCAR/MICE/cat]

                     mae        mse        r2       acc       mle_rel
workclass       1.009973   2.350950  0.027433  0.527137     37.538678
education       2.262193  10.098725  0.318008  0.190716      4.047237
marital-status  0.978460   1.953171  0.140465  0.475989      5.516962
occupation      3.688826  18.474875 -0.013611  0.066972  11017.734417
relationship    0.958026   1.628912  0.357852  0.361988      2.102768
race            0.496671   0.712745 -0.024848  0.735054      4.489310
sex             0.309054   0.159645  0.263776  0.735748      0.034023
native-country  3.057278  49.870422 -0.026719  0.456602     14.656956

	[MCAR/EGG-GAE]
	>>>[MCAR/EGG-GAE/num]

                     mae       mse        r2   mean_sim   std_sim      corr
age             0.703607  0.804724  0.373801  -1.366556  0.384851  0.613945
fnlwgt          0.786526  1.069053  0.030739  24.502011  0.835886  0.184433
education-num   0.300035  0.259373  0.787015  -1.831894  0.109982  0.887301
capital-gain    0.290424  1.863912  0.050822   1.116351  0.866136  0.266444
capital-loss    0.490171  1.392462  0.023272   0.354342  0.893724  0.165781
hours-per-week  0.697108  1.042306  0.168698  -1.404238  0.624669  0.412817

	>>>[MCAR/EGG-GAE/cat]

                     mae        mse        r2       acc       mle_rel
workclass       0.586499   1.479986  0.387743  0.738467      0.666111
education       1.049445   6.310124  0.573862  0.735284      2.892857
marital-status  0.806850   3.024364 -0.330936  0.746469      0.532811
occupation      3.627423  27.194572 -0.492011  0.348608  80774.886239
relationship    0.696105   1.933848  0.237640  0.703492      0.373449
race            0.313859   0.771060 -0.108699  0.861413      0.785352
sex             0.191482   0.191482  0.116952  0.808518      0.022424
native-country  1.914218  51.125971 -0.052568  0.898345   8217.705529

	[MCAR/GAIN]
	>>>[MCAR/GAIN/num]

                     mae       mse        r2   mean_sim   std_sim      corr
age             0.910750  1.266579  0.014406   1.972678  0.919836  0.170578
fnlwgt          0.817744  1.175126 -0.065434 -29.332661  0.696285  0.050893
education-num   0.816703  1.225098 -0.005994   1.535533  0.911913  0.011147
capital-gain    0.225053  2.040554 -0.039131   2.495710  0.834783  0.003405
capital-loss    0.515263  1.533415 -0.075598   0.097219  0.707913  0.016720
hours-per-week  0.789316  1.333408 -0.063472 -14.380950  0.838753 -0.014072

	>>>[MCAR/GAIN/cat]

                     mae        mse        r2       acc    mle_rel
workclass       0.874152   2.507802 -0.037456  0.615672   4.972538
education       2.893037  15.765557 -0.064687  0.101581   3.794956
marital-status  1.231992   2.696681 -0.186732  0.384181   1.484083
occupation      3.709552  18.049348  0.009735  0.057808   1.844905
relationship    1.222297   2.716588 -0.070931  0.269980   1.181501
race            0.329144   0.801291 -0.152168  0.850543   0.700024
sex             0.297451   0.297451 -0.371741  0.702549   0.141504
native-country  5.598773  61.702986 -0.270324  0.027356  21.063434

	>>>[MCAR//num]

              MICE   EGG-GAE      GAIN
mae       0.814228  0.544645  0.679138
mse       1.541032  1.071972  1.429030
r2       -0.122115  0.239058 -0.039204
mean_sim  2.318496  3.561669 -6.268745
std_sim   0.513515  0.619208  0.818247
corr      0.113034  0.421787  0.039779

	>>>[MCAR//cat]

                MICE       EGG-GAE       GAIN
mae         1.595060      1.148235   2.019550
mse        10.656181     11.503926  13.067213
r2          0.130294      0.041498  -0.143038
acc         0.443776      0.730074   0.376209
mle_rel  1385.765044  11124.733096   4.397868

>>>>> MAR >>>>>>
0 0
>> 1 0
0 1
>> 1 2
1 1
>> 3 2
1 2
>> 3 4
2 2
>> 5 4
2 3
>> 5 10
3 3
>> 6 10
4 3
>> 7 10
5 3
>> 8 10
6 3
>> 9 10
7 3
>> 13 10
7 4
>> 13 11
7 5
>> 13 12
7 6
>> 13 -1

/home/redgreen/ssl/metric/metric.py:227: RuntimeWarning: Mean of empty slice
  mean = np.nanmean(masked_inv, axis=0)
/home/redgreen/miniconda3/envs/ssl/lib/python3.11/site-packages/numpy/lib/nanfunctions.py:1878: RuntimeWarning: Degrees of freedom <= 0 for slice.
  var = nanvar(a, axis=axis, dtype=dtype, out=out, ddof=ddof,

,origin(mean),origin(std),MICE(mean),MICE(std),EGG-GAE(mean),EGG-GAE(std),GAIN(mean),GAIN(std)
age,0.100041,1.098242,0.070023,0.603890,0.139008,0.687335,-0.244284,0.784304
workclass,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
fnlwgt,-0.001309,1.078269,0.007190,0.510260,0.072029,0.169663,0.003988,0.231526
education,10.528127,3.707769,10.689179,1.595530,10.483786,3.180436,10.052283,1.119548
education-num,-0.059560,1.085516,-0.074168,0.623067,-0.127035,1.024011,-0.265456,0.557003
marital-status,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
occupation,6.897681,4.339188,7.042360,2.131276,4.796044,3.749611,6.716235,0.455341
relationship,1.359903,1.612111,1.311387,1.008844,1.170462,1.480012,1.437888,0.538805
race,3.656283,0.863135,3.701190,0.286284,3.990550,0.168113,3.971999,0.169167
sex,0.703678,0.456635,0.707221,0.263017,0.700273,0.458143,0.694142,0.460770
capital-gain,0.060092,1.365034,0.024277,0.516412,0.087061,0.316798,0.063496,0.173672
capital-loss,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
hours-per-week,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
native-country,37.055537,7.156655,37.271154,2.245107,38.973747,0.583619,39.178916,0.996794

	[MAR/MICE]
	>>>[MAR/MICE/num]

                     mae       mse        r2  mean_sim   std_sim      corr
age             0.896613  1.282322 -0.063166  0.300059  0.450130  0.218177
fnlwgt          0.904543  1.399442 -0.203651  6.491058  0.526779  0.021502
education-num   0.858572  1.185659 -0.006208 -0.245263  0.426018  0.281741
capital-gain    0.579142  2.046149 -0.098121  0.596008  0.621686  0.060385
capital-loss         NaN       NaN       NaN       NaN       NaN       NaN
hours-per-week       NaN       NaN       NaN       NaN       NaN       NaN

	>>>[MAR/MICE/cat]

                     mae        mse        r2       acc       mle_rel
workclass            NaN        NaN       NaN       NaN           NaN
education       2.384017  10.631473  0.226664  0.167439      4.365652
marital-status       NaN        NaN       NaN       NaN           NaN
occupation      3.411937  16.763029  0.109701  0.099932  68214.749979
relationship    0.883368   1.650821  0.364801  0.435128      2.425301
race            0.527581   0.768516 -0.031563  0.701435      4.568747
sex             0.283924   0.146042  0.299608  0.778270      0.044920
native-country  3.235207  52.933416 -0.033498  0.449680     48.852644

	[MAR/EGG-GAE]
	>>>[MAR/EGG-GAE/num]

                     mae       mse        r2   mean_sim   std_sim      corr
age             0.675382  0.741746  0.385023  -0.389515  0.374150  0.621531
fnlwgt          0.809442  1.151621  0.009498  56.012048  0.842652  0.123555
education-num   0.279921  0.207188  0.824170  -1.132882  0.056659  0.910554
capital-gain    0.381895  1.794502  0.036932  -0.448801  0.767919  0.196449
capital-loss         NaN       NaN       NaN        NaN       NaN       NaN
hours-per-week       NaN       NaN       NaN        NaN       NaN       NaN

	>>>[MAR/EGG-GAE/cat]

                     mae        mse        r2       acc       mle_rel
workclass            NaN        NaN       NaN       NaN           NaN
education       1.449371   7.966909  0.420485  0.643283      4.251229
marital-status       NaN        NaN       NaN       NaN           NaN
occupation      3.682810  28.040928 -0.489277  0.351978  73510.490179
relationship    0.609731   1.785024  0.313162  0.751208      0.316316
race            0.337767   0.845292 -0.134618  0.852643      0.813948
sex             0.185286   0.185286  0.111402  0.814714      0.008167
native-country  1.941097  54.079771 -0.055880  0.905756      0.929682

	[MAR/GAIN]
	>>>[MAR/GAIN/num]

                     mae       mse        r2  mean_sim   std_sim      corr
age             1.154157  2.086829 -0.730179  3.441844  0.285855 -0.085332
fnlwgt          0.816011  1.184124 -0.018458  4.046054  0.785280  0.064436
education-num   0.858587  1.295704 -0.099597 -3.456916  0.486877  0.194568
capital-gain    0.372037  1.919477 -0.030139 -0.056641  0.872771 -0.054806
capital-loss         NaN       NaN       NaN       NaN       NaN       NaN
hours-per-week       NaN       NaN       NaN       NaN       NaN       NaN

	>>>[MAR/GAIN/cat]

                     mae        mse        r2       acc     mle_rel
workclass            NaN        NaN       NaN       NaN         NaN
education       2.927201  15.101919 -0.098517  0.139312    2.265598
marital-status       NaN        NaN       NaN       NaN         NaN
occupation      3.781037  18.390177  0.023282  0.050819    1.889754
relationship    1.345756   2.627329 -0.010938  0.142857    3.220329
race            0.365418   0.878544 -0.179251  0.826741    1.011910
sex             0.330381   0.330381 -0.584449  0.669619    0.022868
native-country  2.681702  56.272777 -0.098697  0.368563  803.595153

	>>>[MAR//num]

              MICE    EGG-GAE      GAIN
mae       0.809718   0.536660  0.800198
mse       1.478393   0.973764  1.621534
r2       -0.092786   0.313906 -0.219593
mean_sim  1.785466  13.510212  0.993585
std_sim   0.506153   0.510345  0.607696
corr      0.145451   0.463022  0.029717

	>>>[MAR//cat]

                 MICE       EGG-GAE        GAIN
mae          1.787672      1.367677    1.905249
mse         13.815549     15.483868   15.600188
r2           0.155952      0.027546   -0.158095
acc          0.438647      0.719930    0.366318
mle_rel  11379.167874  12252.801587  135.334269

>>>>> MNAR >>>>>>
0 0
>> 1 0
0 1
>> 1 2
1 1
>> 3 2
1 2
>> 3 4
2 2
>> 5 4
2 3
>> 5 10
3 3
>> 6 10
4 3
>> 7 10
5 3
>> 8 10
6 3
>> 9 10
7 3
>> 13 10
7 4
>> 13 11
7 5
>> 13 12
7 6
>> 13 -1

,origin(mean),origin(std),MICE(mean),MICE(std),EGG-GAE(mean),EGG-GAE(std),GAIN(mean),GAIN(std)
age,0.100041,1.098242,0.046397,0.590213,0.050345,0.634498,0.020093,0.137411
workclass,4.105697,1.546516,4.030165,0.519872,3.947495,0.928274,4.000686,0.026189
fnlwgt,-0.001309,1.078269,0.010514,0.506193,0.062190,0.166836,0.029593,0.582053
education,10.528127,3.707769,10.529451,1.629217,10.562210,3.215498,11.063534,0.338272
education-num,-0.059560,1.085516,-0.061451,0.625313,-0.119718,0.941544,-0.121202,0.326361
marital-status,2.631215,1.495636,2.652106,0.640126,2.770718,1.243745,2.940262,0.237000
occupation,6.897681,4.339188,6.933390,1.368910,4.665075,3.626753,6.963847,0.243726
relationship,1.359903,1.612111,1.257867,0.890752,0.965838,1.335861,1.447550,0.497241
race,3.656283,0.863135,3.722051,0.255558,3.989500,0.177175,4.000000,0.000000
sex,0.703678,0.456635,0.714169,0.239059,0.709809,0.453848,0.783379,0.411942
capital-gain,0.060092,1.365034,0.038157,0.515350,0.135107,0.254970,1.139910,2.635379
capital-loss,0.059319,1.130184,0.068816,0.545195,-0.171018,0.250732,-0.046746,0.135661
hours-per-week,0.007279,1.140675,0.023360,0.603618,0.014980,0.446828,-0.153148,0.045802
native-country,37.055537,7.156655,37.094009,2.387027,38.964996,0.673673,39.137589,1.249502

	[MNAR/MICE]
	>>>[MNAR/MICE/num]

                     mae       mse        r2  mean_sim   std_sim      corr
age             0.913462  1.324283 -0.097956  0.536220  0.462584  0.179792
fnlwgt          0.905796  1.401702 -0.205595  9.030125  0.530551  0.015879
education-num   0.865794  1.208746 -0.025801 -0.031738  0.423948  0.265634
capital-gain    0.587951  2.068649 -0.110196  0.365018  0.622463  0.043169
capital-loss    0.689223  1.511564 -0.183391 -0.160100  0.517605  0.051187
hours-per-week  0.843555  1.386444 -0.065562 -2.209428  0.470824  0.202829

	>>>[MNAR/MICE/cat]

                     mae        mse        r2       acc       mle_rel
workclass       0.988504   2.265000  0.052979  0.537406  1.094716e+06
education       2.133157   9.163984  0.333410  0.210788  4.137133e+00
marital-status  1.008598   2.024437  0.094992  0.454420  4.619962e+00
occupation      3.799420  19.433400 -0.032124  0.064120  2.027245e+00
relationship    0.958765   1.742888  0.329375  0.383713  2.393295e+00
race            0.518691   0.767277 -0.029900  0.733987  3.878345e+00
sex             0.295708   0.148726  0.286737  0.771798  7.023845e-02
native-country  3.384281  53.784487 -0.050115  0.411982  1.365504e+04

	[MNAR/EGG-GAE]
	>>>[MNAR/EGG-GAE/num]

                     mae       mse        r2   mean_sim   std_sim      corr
age             0.690887  0.790841  0.344318   0.496754  0.422260  0.588629
fnlwgt          0.807691  1.152302  0.008913  48.497329  0.845275  0.117371
education-num   0.291062  0.213787  0.818570  -1.010019  0.132629  0.907324
capital-gain    0.410318  1.798551  0.034759  -1.248340  0.813213  0.194522
capital-loss    0.340530  1.370620 -0.073047   3.883002  0.778149  0.039908
hours-per-week  0.701935  1.070851  0.176990  -1.058127  0.608277  0.421832

	>>>[MNAR/EGG-GAE/cat]

                     mae        mse        r2       acc       mle_rel
workclass       0.607756   1.570007  0.343563  0.733013  20319.318753
education       1.378226   7.646261  0.443809  0.654864      3.975127
marital-status  0.771409   2.776243 -0.241097  0.743785      0.628792
occupation      3.776944  28.938608 -0.536954  0.335607  72656.024521
relationship    0.706694   2.007591  0.227524  0.697032      0.431464
race            0.338817   0.848442 -0.138846  0.852293      0.811593
sex             0.197548   0.197548  0.052598  0.802452      0.014701
native-country  1.943790  54.001010 -0.054342  0.905082      0.928772

	[MNAR/GAIN]
	>>>[MNAR/GAIN/num]

                     mae        mse        r2   mean_sim   std_sim      corr
age             0.877925   1.174712  0.026053   0.799150  0.874881  0.187848
fnlwgt          0.953192   1.476308 -0.269763  23.601642  0.460197  0.020791
education-num   0.889015   1.312310 -0.113690  -1.034934  0.699349 -0.033384
capital-gain    1.445925  10.395636 -4.579098 -17.969390 -0.930632 -0.058527
capital-loss    0.343137   1.117632  0.125015   1.788036  0.879965  0.617450
hours-per-week  0.739880   1.341229 -0.030811  22.040637  0.959847 -0.117286

	>>>[MNAR/GAIN/cat]

                     mae        mse        r2       acc    mle_rel
workclass       0.803020   2.402196 -0.004384  0.685999   0.843903
education       2.620119  14.228987 -0.035020  0.293514   0.936852
marital-status  1.348412   2.441644 -0.091517  0.035912   9.957587
occupation      3.772169  18.459072  0.019623  0.055252   1.816047
relationship    1.303658   2.354037  0.094219  0.121118   3.553982
race            0.343717   0.863143 -0.158579  0.850543   0.835144
sex             0.313351   0.313351 -0.502776  0.686649   0.191114
native-country  2.763070  57.279121 -0.118346  0.468193  13.280029

	>>>[MNAR//num]

              MICE   EGG-GAE      GAIN
mae       0.800963  0.540404  0.874845
mse       1.483565  1.066159  2.802971
r2       -0.114750  0.218417 -0.807049
mean_sim  1.255016  8.260100  4.870857
std_sim   0.504663  0.599967  0.490601
corr      0.126415  0.378265  0.102815

	>>>[MNAR//cat]

                  MICE       EGG-GAE       GAIN
mae           1.635891      1.215148   1.658439
mse          11.166275     12.248214  12.292694
r2            0.123169      0.012032  -0.099597
acc           0.446027      0.715516   0.399647
mle_rel  138548.533059  11622.766715   3.926832

### Distributions of Imputed values

In [ ]:
def make_cnt_vec(key, cnt, size):
    arr = np.empty(size)
    for k, c in zip(key, cnt):
        arr[k] = c
    return arr

In [84]:
for name in ['MICE', 'EGG-GAE']:
    print(f'\t[{name}]')
    for ids, mode in zip([num_ids, cat_ids], 
                    ['num', 'cat']):
        print(f'\t>>>[{mode}]')
        df_score = evaluate_X_each(Xs_masked_inv['origin'][:, ids],
                                Xs_masked_inv[name][:, ids],
                                y,
                                mask[:, ids], mode, index=col_names[ids])
        display(df_score)

	[MICE]
	>>>[num]

                     mae       mse        r2  mean_sim   std_sim      corr
age             0.947239  1.405790 -0.094368  0.807391  0.475131  0.173557
fnlwgt          0.893782  1.334722 -0.210793  9.219243  0.513300  0.027504
capital-gain    0.578751  2.156595 -0.101088  0.559502  0.628978  0.050162
capital-loss    0.714464  1.672018 -0.174595  0.196982  0.545387  0.035507
hours-per-week  0.849970  1.384189 -0.103132  0.251490  0.457722  0.176057

	>>>[cat]

                     mae        mse        r2  acc        mle_rel
workclass       1.193487   2.698010 -0.116725  0.0      67.365325
education       3.217566  16.191633 -0.092296  0.0   34975.982075
education-num   0.891863   1.251750 -0.028719  0.0    3477.075211
marital-status  1.220085   2.474934 -0.089227  0.0      13.656192
occupation      3.795323  20.205805 -0.108785  0.0   95434.586796
relationship    1.138454   2.043059  0.195101  0.0       1.435822
race            0.626808   0.827172 -0.189261  0.0  302747.131750
sex             0.343101   0.185188  0.146138  0.0    1856.449784
native-country  4.582798  58.418060 -0.205371  0.0            NaN

	[EGG-GAE]
	>>>[num]

                     mae       mse        r2   mean_sim   std_sim      corr
age             0.703381  0.805480  0.372957  -1.384518  0.385112  0.613274
fnlwgt          0.785977  1.067657  0.031474  19.094839  0.835532  0.186899
capital-gain    0.290266  1.859290  0.050706   1.119341  0.866377  0.266328
capital-loss    0.489904  1.390238  0.023356   0.349690  0.893753  0.166086
hours-per-week  0.697817  1.044012  0.167973  -1.379113  0.624514  0.411823

	>>>[cat]

                     mae        mse        r2       acc        mle_rel
workclass       0.588779   1.487341  0.384379  0.737468       0.667181
education       1.056675   6.370317  0.570255  0.735496       0.567532
education-num   0.299447   0.258531  0.787533  0.000000  222657.683305
marital-status  0.803895   3.015545 -0.327152  0.747932       0.179228
occupation      3.616478  27.058458 -0.484821  0.349348       2.714708
relationship    0.701187   1.952511  0.230774  0.701522       0.371992
race            0.315282   0.775258 -0.114622  0.860947       0.786749
sex             0.190890   0.190890  0.119850  0.809110       0.024648
native-country  1.917457  51.110542 -0.054591  0.898042      20.911270

In [23]:
df_dist, Xs_masked_inv = make_dist_df(Xs = [X, X_mice, X_egg], 
                                      names=['origin', 'MICE', 'EGG-GAE'], mask=mask)

df_dist

/tmp/ipykernel_2257613/3804797055.py:17: RuntimeWarning: Mean of empty slice
  mean = np.nanmean(masked_inv, axis=0)
/home/redgreen/miniconda3/envs/ssl/lib/python3.11/site-packages/numpy/lib/nanfunctions.py:1878: RuntimeWarning: Degrees of freedom <= 0 for slice.
  var = nanvar(a, axis=axis, dtype=dtype, out=out, ddof=ddof,

,origin(mean),origin(std),MICE(mean),MICE(std),EGG-GAE(mean),EGG-GAE(std)
x1,0.583716,1.396067,0.536104,0.876596,0.677885,0.640420
x2,NaN,NaN,NaN,NaN,NaN,NaN
x3,-0.344322,1.069565,-0.483261,0.809786,0.563412,0.815381

### Scores of imputed values

In [612]:
# score by each X
df_score = evaluate_X_each(Xs_masked_inv['origin'],
                     Xs_masked_inv['MICE'],
                     mask)

df_score

         mae       mse  mean_sim   std_sim        r2      corr   rel_sim
x1  0.648871  0.754029 -0.010979  0.291406  0.254106  0.533681  0.002562
x2  0.837852  1.112965 -0.005985  0.340622  0.108955  0.412356  0.000000
x3  1.046552  1.857424  0.001914  0.262980  0.332165  0.593870  0.004486

In [614]:
# score all X
df_score = evaluate_X(Xs_masked_inv['origin'],
                     [
                         Xs_masked_inv['MICE']
                      ],
                     mask, names=['MICE'])

df_score

              MICE
mae       0.844944
mse       1.243606
mean_sim -0.001695
std_sim   0.121495
r2        0.667081
corr      0.818923
F1_sim   -0.002135